

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

/* shared style */
.text-primary{
    color: #4E47FF;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* header */
.header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    max-width: 1440;
   
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    
   
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    gap: 909px;
    
}
.nav-logo{
    font-weight: 900;
    font-size: 34px;
}
/* banner styles */
.banner{
        
     margin: 267.5px 309px;
    
        

}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    
  
    
}




.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
   /* max-width: 905px; */
}
/* action styles */
.actions{
    display: flex;
    gap: 220px;
    margin-top: 84px;
   
    
}
.actions-content{
    max-width:  517px;

    
}
.action-title{
    color: #252432;
    font-size: 42px;
    font-weight: bold;

}
.action-description{
    font-weight: 400px;
    font-size: 24px;
    color: #252432;
}
.action-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* users style */
.users{
    background-color: #4d47ff1d;
    border-radius: 24px;
    margin-top: 116px;
    max-height: 306px;
}
.user-heading{
    padding-top: 50px;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    text-align: center;
}
.user-items{
    display: flex;
   justify-content: space-around;
    align-items: center;
    
}
.user-value{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.user-description{
    font-weight: 400px;
    font-size: 20px;
    color: #0000007c;
    
}